[Unit]
Description=Datasette

[Service]
Type=simple
EnvironmentFile=-%h/crawl-mtk/datasette/.env

ExecStartPre=%h/.local/bin/uv tool install datasette --compile-bytecode
ExecStartPre= %h/.local/bin/datasette install datasette-vega
ExecStartPre= %h/.local/bin/datasette install datasette-cluster-map

ExecStart=%h/.local/bin/datasette serve \
    --metadata %h/crawl-mtk/datasette/metadata.yaml \
    --host 0.0.0.0 --port 8001 \
    --cors \
    %h/scrapy/tankentanken/tankentanken.db

Restart=on-failure

[Install]
WantedBy=default.target