[Unit]
Description=MTK Tankstellen Geocoding

[Service]
Type=oneshot
WorkingDirectory=%h/crawl-mtk
ExecStart=%h/.local/bin/uv run geolocation %h/scrapy/tankentanken/tankentanken.db
